

.toast-wrapper
  border-radius: 4px
  width: auto
  position: relative
  word-break: break-all
  background-color white
  padding: 0px 25px
  font-size: 28px
  font-weight: 300
  color: black
  display: flex
  align-items: center
  justify-content: space-between
  p
    text-transform capitalize
    height 14px
    line-height 14px
