
.loading
  width 100%
  height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center
  .info
    display flex
    flex-direction column
    align-items center
    img
      width 400px
      height 400px
    p
      width 400px
      text-align center
      font-size 28px
      color #ccc
      line-height 1.5
      margin-bottom 100px
  .btns
    width 70%
    display flex
    justify-content space-between
    a
      height 78px
      display flex
      align-items center
      font-size 28px
      background-color #e8b95d
      svg
        width 36px
        height 36px
        margin-right 15px
        fill white
